{% extends 'tweets/base.html' %}
{% load static %}

{% block title %}
Twitter Clone | Tweets
{% endblock %}

{% block content %}
<div class="container allTweets">
  <div>
    <div class="card shadow mb-5 rounded border-0">
      <div class="card-header">
        <!-- Name Header -->
        <h2 class="card-title">Good day {% if user.profile.first_name|length > 0 %} {{ user.profile.first_name }} {{ user.profile.last_name }}, {% else %} {{ user.username }}, {% endif %}post a tweet!</h2>
        <!-- End Name Header -->
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <textarea placeholder="What's on your mind?" class="form-control" id="createTweet" rows="3"></textarea>
          </div>
          <br>
          <div class="pull-right">
            <a href="#" class="btn text-white btn-info"><i class="fa fa-pencil-square fa-3" aria-hidden="true"></i> Tweet</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <br>
  <div>
    <h1>Checkout the latest Tweets!</h1>
    <div class="container">
      <!-- Cards -->
      {% for tweet in tweets %}
      <div class="card shadow mb-5 rounded border-0">
        <div class="card-header bg-info text-white border-0">
          <div class="row row-cols-auto">
            <div class="col my-auto">
              <img class="tweet-profile-img my-auto" alt="john-doe"
                src="https://icon-library.com/images/generic-user-icon/generic-user-icon-19.jpg" />
            </div>
            <div class="col my-auto">
              <!-- Name -->
              <h4 class="my-auto">{{ tweet.user.first_name }} {{ tweet.user.last_name }}</h4>
              <!-- End Name -->
              <!-- Username -->
              <span>@{{ tweet.user.username }}</span>
              <!-- End Username -->
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text text-wrap">
            <!-- Date Created -->
            <span class="text-muted timestamp">{{ tweet.date_created }}</span>
            <!-- End Date Created -->
            <br>
            <!-- Message -->
            {{ tweet.msg }}
            <!-- End Message -->
          </p>
          <br>
          <div class="pull-right row row-cols-auto">
            <div class="col">
              <!-- Edit -->
              <a href="#" class="btn text-white btn-primary">
                <i class="fa fa-pencil-square-o fa-3" aria-hidden="true"></i>
              </a>
              <!-- End Edit -->
            </div>
            <div class="col">
              <!-- Delete -->
              <form>
                <button type="submit" class="btn text-white btn-danger">
                  <i class="fa fa-trash-o fa-3"
                    aria-hidden="true"></i>
                  </button>
              </form>
              <!-- End Delete -->
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <!-- End Cards -->

    </div>
  </div>
</div>
{% endblock %}